<div class="container">
  <h4 class="m-5 d-inline-block px-3" style="background-color:#eeeeee">マイページ</h4>

  <div class="form-inline mb-3">
     <h5 class="font-weight-bold mr-5">登録情報</h5>
     <%= link_to "編集する", customers_information_edit_path, class:"btn btn-success px-4" %>
  </div>
    
  <div class="row mb-3">
    <div class="col-7">
    <table class="mypage_table table table-bordered">
      <thead>
        <td bgcolor="#eeeeee" width="30%">氏名</td>
        <td><%= @customer.full_name %></td>
      </tr>
      <tr>
        <td bgcolor="#eeeeee">カナ</td>
        <td><%= @customer.full_name_kana %></td>
      </tr>
      <tr>
        <td bgcolor="#eeeeee">郵便番号</td>
        <td><%= @customer.post_code %></td>
      </tr>
      <tr>
        <td bgcolor="#eeeeee">住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td bgcolor="#eeeeee">電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td bgcolor="#eeeeee">メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </table>
    </div>
    <div class="col-6"></div>
  </div>
  <div class="form-inline mb-3">
    <h5 class="font-weight-bold mr-5">配送先　</h5>
    <%= link_to "一覧を見る", addresses_path(current_customer), class:"btn btn-primary px-4" %>
  </div>
  
  <div class="form-inline mb-3">
     <h5 class="font-weight-bold mr-5">注文履歴</h5>
     <%= link_to "一覧を見る", orders_path, class:"btn btn-primary px-4" %>
  </div>
  
</div>