<div class="container">
  <div class="row m-5 px-3">
    <div class="col-2">
      <h2 style="background-color:#eeeeee">商品一覧</h2>
    </div>
    <div class="col-9" align="right">
      <%= link_to "＋", new_admin_item_path, class:"item_new btn btn-light" %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <table class="table">
        <thead>
          <th width="10%">商品ID</th>
          <th width="30%">商品名</th>
          <th width="10%">税抜価格</th>
          <th width="30%">ジャンル</th>
          <th width="20%">ステータス</th>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td>
                <%= link_to  admin_item_path(item.id), class:"link-dark" do %>
                  <%= item.name %></td>
                <% end%>
              <td><%= item.price %></td>
              <td><%= item.genre_id %></td>
              <td>
                <% if item.is_active? %> 
                  <p style="color:#32cd32">販売中</p>
                <% else %>
                  <p style="color:#d3dd3d3">販売停止中</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
       <%= paginate @items, class:"pagination"%>
</div>
