<div class="container">
  <h4 class="m-5 d-inline-block px-3" style="background-color:#eeeeee">会員一覧</h4>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <table class="table">
        <thead class="thead-light">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
            <%= link_to admin_customer_path(customer.id) do %>
              <%= customer.full_name %>
            <% end %>
            </td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_active? %> 
                <p class="font-weight-bold", style="color:#32cd32">有効</p>
              <% else %>
                <p class="font-weight-bold", style="color:#d3dd3d3">退会</p>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-2"></div>
  </div>
  <%= paginate @customers, class:"pagination"%>
</div>