<div class="container m-5">
  <h4 class="m-5 d-inline-block px-3" style="background-color:#eeeeee">ジャンル一覧・追加</h4>

  <%= form_with model: [:admin, @genre] do |f| %>
    <div class="row  mb-5" align="center">
      <div class="col-1">
        <div class="form-group">            
          <P>ジャンル名</P>         
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">            
          <%= f.text_field :name, class: 'form-control', placeholder:"ジャンル名" %>
        </div>  
      </div>
      <div class="col-1 align-self-end">
        <div class="form-group">        
          <%= f.submit "新規登録", class: 'btn btn-success py-2 px-5' %>
        </div>
      </div>
    </div>
  <% end %>

<div class="row">
  <div class="col-4">
    <table class="table" >
      <thead class="thead-light">
      <th>ジャンル</th>
      <th></th>
      </thead>
        <tbody>
        <% @genres.each do |genre| %>
        <tr>
            <td><%= genre.name %></td>
            <td align="right">
              <%= link_to "編集する", edit_admin_genre_path(genre.id), class:'btn btn-success' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    </div>
</div>