<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="form-inline justify-content-between" >
                <h4 class="my-5 d-inline-block px-3" style="background-color:#eeeeee">ショッピングカート</h4>
                <%= link_to "カートを空にする", cart_items_path, method: :delete, data: {comflm: 'カートを空にしてよろしいですか？' }, class:" btn btn-danger " %>
            </div>
        </div>
        
    </div>
    
    <div class="row mb-5">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table table-bordered vertical-align-middle" height="10">
                <thead class="thead-light">
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th></th>
                </thead>
                <tbody>
                    <% @cart_items.each do |cart_item| %>
                        <tr>
                            <td>
                                <%= image_tag cart_item.item.get_item_image(80,40)%>
                                <%= cart_item.item.name %>
                            </td>
                            <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
                            <td>
                                <div class="form-inline">
                                    <%= form_with model: cart_item do |f| %>
                                        <%= f.select :amount, *[1..10], {include_blank: "個数選択"}, {class: "form-control ml-3 mr-5 py-2"} %>
                                        <%= f.submit "変更", class:"btn btn-success" %>
                                    <% end %>
                                </div>
                            </td>
                            <td><%= cart_item.sub_total.to_s(:delimited) %></td>
                            <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class:" btn btn-danger " %></td>
                        </tr>
                    <% end %>
                    </tbody>
            </table>
        </div>
    </div>
    
    <div class="row d-flex">
        <div class="col-2"></div>
        <div class="col-3">
            <div class="form-inline" >
                <%= link_to "買い物を続ける", root_path, class:" btn btn-primary " %>
            </div>
        </div>
        <div class="col-3"></div>
        <div class="col-2">
            <table class="table table-bordered" width="20%">
                <tr>
                    <td style="background-color:#eeeeee">合計金額</td>
                    <td>
                        <% @cart_items.each do |cart_item| %>
                            <% @total_price += cart_item.sub_total %>
                        <% end %>
                        <%= @total_price.to_s(:delimited) %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div align="center" class="my-5">
        <%= link_to "情報入力に進む", new_order_path, class:" btn btn-success px-4" %>
    </div>
</div>
