<h2>新規会員登録</h2>

<%= form_with model: @customer, url:  new_customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <p>名前</p>
  <div class="field">
    <%= f.label :"(姓)" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :"(名)"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <p>フリガナ</p>
  <div class="field">
    <%= f.label :"(セイ)"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"(メイ)"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"郵便番号(ハイフンなし)"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"(住所)"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"電話番号(ハイフンなし)"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <span>(<%= @minimum_password_length %> 文字以上)</span>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

既に登録隅の方<br>
<%= render "public/shared/links" %>　からログインしてください。
