<div class="container">
  <h4 class="mt-5 d-inline-block px-3" style="background-color:#eeeeee">ログイン</h4>
  <div class="row mt-5 mb-3">
    <h5 class="ml-5 d-inline-block px-3" style="background-color:#eeeeee">会員の方はこちらからログイン</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <table class="table table-borderless">
        <%= form_with model:@customer, url:customer_session_path, method: :post do |f| %>
          <tbody>
            <tr>
              <td>メールアドレス</td>
              <td>
                <%= f.email_field :email, autofocus: true, size:"50x2", autocomplete: "email", placeholder:"sample@example.com" %>
              </td>
            </tr>
            <tr>
              <td>
                パスワード
                  <% if @minimum_password_length %>
                    <span>(<%= @minimum_password_length %> 文字以上)</span>
                  <% end %>
              </td>
              <td>
                <%= f.password_field :password, size:"50x2", autocomplete: "current-password" %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "ログイン",class: "btn btn-primary py-2 px-5" %></td>
            </tr>
          </tbody>    
        <% end %>
      </table>
    </div>
    <div class="col-3"></div>
  </div>
</div>  
  
<div class="container mb-5">
  <div class="row">
    <h5 class="m-5 d-inline-block px-3" style="background-color:#eeeeee">会員登録がお済みでない方</h5><br/>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <%= render "public/shared/links" %>から新規登録を行なってください。
    </div>
    <div class="col-8"></div>
  </div>
</div>