<div class="container">
  
  <div class="row justify-content-center py-5 mt-5">
    <div class="pr-5" align="left">
      <%= image_tag @item.get_item_image(230,150) %>
    </div>
  
    <table width="30%">
      <tbody>
        <tr>
            <td><h3 class="font-weight-bold"><%= @item.name %></h3></td>
            <td></td>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td class="form-inline pt-5 mt-5">
            <h4>¥ <%= @item.add_tax_price.to_s(:delimited) %> </h4>
            <span>(税込)</span>
          </td>
          <td></td>
        </tr>
        <td>
          <div class="form-inline mt-5">
            <%= form_with model: @cart_item do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.select :amount, *[1..10], {include_blank: "個数選択"}, {class: "form-control ml-3 mr-5 py-2"} %>
              <%= f.submit "カートに入れる", class:"btn btn-success" %>
            <% end %>
          </div>
        </td>
      </tbody>
    </table>
  </div>

</div>